<h1>Hello to My Blog</h1>
<%= link_to "Posts", posts_path %></br>
<%= link_to "Make a New Post", new_post_path %></br>
<%= link_to "LOGIN", login_path %></br>
<%= link_to "LOGOUT", sessions_path, method: :delete %> 