<!DOCTYPE html>
<html>
<head>
	<title>Hogwarts</title>
</head>
<body>
	<h1>Enroll today!</h1>
	<form action="/students" method="POST">
		<input type="text" name="name">
		<button>Sort</button>
	</form>
</body>
</html>