<html>
	<body>
		<h1>Create A New Wine</h1>

			<form action="/wines" method="POST">
				<input type="text" name="wineName" placeholder="enter a wine name"></br>
				<input type="text" name="type" placeholder="red or white?"></br>
				<button>Create Wine</button>
			</form>
	</body>
</html>