<div class="row">
<div class="medium-12 columns yoda">
	<div class="medium-12 columns main-posts">
		<h2><%= @yoda_post[:title] %></h2></br>
		<h3>By:<%= @yoda_post[:author] %></h3></br>
		<%= @yoda_post[:content] %>
		<img src="http://www.cgarena.com/gallery/3d/description/fullimages/YOda_900.jpg">
	</div>
</div>	
</div>